*
{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    height: 130%;
}
body
{
    display: flex;
    flex-direction: column;
    min-height: 130%;
    background-color: transparent;
}

.footer, .header, .site-info
{
    background-color: #1F2937;
    padding: 15px 90px;
}

.highlight
{
    color: grey;
}



.header
{
    flex: 0.4;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    margin: 0;
    gap: 15px;
    padding: 15px 140px;
}

.header-link
{
    text-decoration: none;
    color: #cfd1d5;
    font-size: 14px;
}

.header-logo
{
    flex: 1;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 300;
}






.site-info
{
    display: flex;
    flex-direction: column;
    flex: 1.3;
    padding: 0 140px;
}

.hero-main /* GEARED TO HELP YOU WIN   */
{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    align-self: center;
}





.random-info
{
    flex: 1.1;
}

.action
{
    flex: 0.3;
}








.quote
{
    flex: 1.3;
    background-color: #E5E7EB;
    padding: 15px 90px;
}




